.header{
	height: 150;
    background-color: aquamarine;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1{
	font-size: 72px;
    font-style: normal;
    font-family: cursive;
    left: 20px;
}

.time{
	color: red;
    font-size: 30px;
}